header {
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: #282c34;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
